:root {
	--cs-primary-base: #F38367;
	--cs-primary-dark: #FE6944;
	--cs-primary-light: #FEB7A6;
	--cs-primary-lightest: #FEF5F3;
	--cs-primary-contrast: #FFFFFF;
	--cs-secondary-base: #040621;
	--cs-secondary-dark: #020414;
	--cs-secondary-light: #1b2633;
	--cs-secondary-lightest: #87939b;
	--cs-secondary-contrast: #fff;
	--cs-accent-base: #3dafd1;
	--cs-accent-dark: #007ea3;
	--cs-accent-light: #8cddf5;
	--cs-accent-lightest: #ebf7fb;
	--cs-accent-contrast: #fff;
	--cs-default-base: #b5c0c7;
	--cs-default-dark: #8e9498;
	--cs-default-light: #e6eaea;
	--cs-default-lightest: #f5f7f6;
	--cs-default-contrast: #fff;
	--cs-success-base: #00c472;
	--cs-success-dark: #007b47;
	--cs-success-light: #5fe0aa;
	--cs-success-lightest: #e5f9f1;
	--cs-success-contrast: #fff;
	--cs-info-base: #3dafd1;
	--cs-info-dark: #007ea3;
	--cs-info-light: #8cddf5;
	--cs-info-lightest: #ebf7fb;
	--cs-info-contrast: #fff;
	--cs-danger-base: #d43131;
	--cs-danger-dark: #a70202;
	--cs-danger-light: #e25d5d;
	--cs-danger-lightest: #ffe2e2;
	--cs-danger-contrast: #fff;
	--cs-warning-base: #e86928;
	--cs-warning-dark: #c6ab1e;
	--cs-warning-light: #f5e27c;
	--cs-warning-lightest: #fff9d6;
	--cs-warning-contrast: #fff;
	--cs-gray-00: #fff;
	--cs-gray-01: #f5f7f6;
	--cs-gray-02: #e6eaea;
	--cs-gray-03: #b5c0c7;
	--cs-gray-04: #87939b;
	--cs-gray-05: #47535a;
	--cs-gray-06: #1b2633;
	--cs-gray-07: #040621;
	--cs-gray-08: #000;
	--cs-gray-background: #E0E0E0;
	--cs-white: #fff;
	--cs-black: #000;
	--cs-gray: #F7F7F7;
	--cs-font-primary: "Roboto";
	--cs-font-secondary: "Roboto";
	--cs-font-size-10: 10px;
	--cs-font-size-50: 12px;
	--cs-font-size-100: 14px;
	--cs-font-size-200: 16px;
	--cs-font-size-300: 18px;
	--cs-font-size-400: 20px;
	--cs-font-size-500: 22px
}

@media (min-width:768px) {
	:root {
		--cs-font-size-10: 12px;
		--cs-font-size-50: 14px;
		--cs-font-size-100: 16px;
		--cs-font-size-200: 20px;
		--cs-font-size-300: 24px;
		--cs-font-size-400: 28px;
		--cs-font-size-500: 32px
	}
}

:root {
	--cs-line-height-small: 1.25;
	--cs-line-height-base: 1.5;
	--cs-line-height-medium: 1.65;
	--cs-line-height-normal: 1.35;
	--cs-font-weight-base: 400;
	--cs-font-weight-medium: 500;
	--cs-font-weight-bold: 700;
	--cs-font-weight-black: 900;
	--cs-transform-upper: uppercase;
	--cs-page-margin-y-top: 32px;
	--cs-page-margin-y-bottom: 40px;
	--cs-page-margin-x: 20px;
	--cs-heading-margin-small: 16px;
	--cs-heading-margin-medium: 20px;
	--cs-heading-margin-large: 24px;
	--cs-paragraph-margin-y-top: 5px;
	--cs-paragraph-margin-y-bottom: 12px;
	--cs-card-border-radius: 5px;
	--cs-card-padding-x: 0px;
	--cs-card-padding-y: 0px;
	--cs-card-margin-x: 0px;
	--cs-card-margin-y: 0px;
	--cs-card-content-margin-y: 16px;
	--cs-avatar-margin-x-right: 16px;
	--cs-message-padding-x: 16px;
	--cs-message-padding-y: 16px;
	--cs-message-margin-y-top: 8px;
	--cs-message-margin-y-bottom: 16px;
	--cs-input-border-radius: 3px;
	--cs-form-label-margin-y-bottom: 8px;
	--cs-form-input-margin-y: 25px;
	--cs-form-input-padding-x: 16px;
	--cs-form-checkbox-margin-x: 16px;
	--cs-button-padding-x: 20px;
	--cs-button-padding-y: 10px;
	--cs-button-margin-x: 16px;
	--cs-button-margin-y: 25px;
	--cs-nav-padding-x: 15px;
	--cs-nav-padding-y: 8px;
	--cs-nav-margin-x: 5px;
	--cs-navtab-padding-x: 20px;
	--cs-navtab-padding-y: 10px
}

@media (min-width:768px) {
	:root {
		--cs-page-margin-y-top: 56px;
		--cs-page-margin-y-bottom: 96px;
		--cs-heading-margin-small: 16px;
		--cs-heading-margin-medium: 24px;
		--cs-heading-margin-large: 32px;
		--cs-paragraph-margin-y-top: 8px;
		--cs-paragraph-margin-y-bottom: 15px;
		--cs-card-padding-x: 20px;
		--cs-card-padding-y: 20px;
		--cs-card-margin-x: 16px;
		--cs-card-margin-y: 20px;
		--cs-card-content-margin-y: 16px;
		--cs-avatar-margin-x-right: 20px;
		--cs-message-padding-x: 16px;
		--cs-message-padding-y: 16px;
		--cs-message-margin-y-top: 8px;
		--cs-message-margin-y-bottom: 16px;
		--cs-form-label-margin-y-bottom: 8px;
		--cs-form-input-margin-y: 30px;
		--cs-form-input-padding-x: 16px;
		--cs-form-checkbox-margin-x: 16px;
		--cs-button-padding-x: 24px;
		--cs-button-padding-y: 12px;
		--cs-button-margin-x: 16px;
		--cs-button-margin-y: 30px;
		--cs-nav-padding-x: 20px;
		--cs-nav-padding-y: 10px;
		--cs-nav-margin-x: 10px;
		--cs-navtab-padding-x: 35px;
		--cs-navtab-padding-y: 15px
	}
}
